@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
}

body {
  @apply bg-[#f9f9f9] font-manrope font-medium;
}

input {
  @apply outline-none;
}

.link-auth {
  @apply block h-[42px] w-[178px] rounded-[30px] py-[12px] text-center text-[14px] font-bold uppercase leading-[1.29] tracking-[-0.03em] transition duration-500 md:h-[50px] md:text-[16px] md:leading-[1.6];
}

.link-log {
  @apply outline outline-1 outline-[#ffffff7f];

  &:hover,
  &:focus-visible,
  &.active {
    @apply bg-[#fff4df] text-[#f6b83d] shadow-sm outline-none lg:bg-[#f9b020] lg:text-white;
  }
}

.link-reg {
  &:hover,
  &:focus-visible,
  &.active {
    @apply bg-[#fbe7c1] text-[#f6b83d] shadow-sm outline-none;
  }
}

.link-home {
  @apply border-[#26262626] text-[#262626] transition duration-500 lg:border-[#ffffff66] lg:text-white;

  &:hover,
  &:focus-visible,
  &.active {
    @apply border-white shadow-sm;
  }
}

.link-next {
  @apply border-[#ffffff26] text-white transition duration-500 lg:border-[#26262626] lg:text-[#262626];

  &:hover,
  &:focus-visible,
  &.active {
    @apply border-[#ffffff80] shadow-sm lg:border-[#f6b83d];
  }
}

.link-profile {
  @apply block h-[42px] w-[123px] rounded-[30px] bg-white py-[12px] text-center text-[14px] font-medium leading-[1.29] tracking-[-0.03em] text-[#262626] transition duration-500 md:h-[48px] md:w-[142px] md:text-[16px] md:leading-[1.4];

  &:hover,
  &:focus-visible,
  &.active {
    @apply bg-[#f6b83d] text-white shadow-sm;
  }
}

.bg-home {
  @apply relative after:absolute after:bottom-0 after:right-0 after:h-[402px] after:w-[335px] after:translate-y-full after:rounded-[30px] after:content-[''] after:sm-max:w-[280px] md:after:h-[496px] md:after:w-[704px] after:md:rounded-[60px] lg:after:h-[384px] lg:after:w-[1216px];
}

.bg-home::after {
  background-image: url("./assets/images/home/home_mobile_1x.webp");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 1.5dppx) {
  .bg-home::after {
    background-image: url("./assets/images/home/home_mobile_2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .bg-home::after {
    background-image: url("./assets/images/home/home_tablet_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-home::after {
      background-image: url("./assets/images/home/home_tablet_2x.webp");
    }
  }
}

@media screen and (min-width: 1280px) {
  .bg-home::after {
    background-image: url("./assets/images/home/home_desktop_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-home::after {
      background-image: url("./assets/images/home/home_desktop_2x.webp");
    }
  }
}

.bg-img {
  background-image: url("./assets/images/backdrop/loader_mobile_1x.webp");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 1.5dppx) {
  .bg-img {
    background-image: url("./assets/images/backdrop/loader_mobile_2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .bg-img {
    background-image: url("./assets/images/backdrop/loader_tablet_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-img {
      background-image: url("./assets/images/backdrop/loader_tablet_2x.webp");
    }
  }
}

@media screen and (min-width: 1280px) {
  .bg-img {
    background-image: url("./assets/images/backdrop/loader_desktop_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-img {
      background-image: url("./assets/images/backdrop/loader_desktop_2x.webp");
    }
  }
}

.text-message {
  @apply absolute -bottom-[2px] left-[12px] translate-y-full text-[10px] font-medium leading-[1.2] tracking-[-0.03em] md:-bottom-[4px] md:left-[16px] md:text-[12px] md:leading-[1.17];
}

.input-wrapper-reg:last-of-type {
  @apply mb-[24px] md:mb-[32px];
}

.input-wrapper-log:last-of-type {
  @apply mb-10 md:mb-[64px] lg:mb-[72px];
}

.button {
  @apply h-[42px] w-[137px] rounded-[30px] border-none py-[12px] text-center text-[14px] font-bold leading-[1.29] tracking-[-0.03em] transition duration-500 md:h-[48px] md:w-[140px] md:py-[14px] md:text-[16px] md:leading-[1.25];
}

.button-modal {
  @apply h-[42px] w-full rounded-[30px] bg-[#f6b83d] py-[12px] text-center text-[14px] font-bold leading-[1.29] tracking-[-0.03em] text-white transition duration-500 md:h-[52px] md:py-[16px] md:text-[16px] md:leading-[1.25];
}

.input {
  @apply h-[42px] w-full rounded-[30px] border p-3 text-[14px] font-medium leading-[1.29] tracking-[-0.03em] text-[#262626] placeholder:text-[#262626] md:h-[52px] md:p-4 md:text-[16px] md:leading-[1.25];
}

.input-hover {
  @apply transition duration-500;

  &:hover,
  &:focus-visible {
    @apply border-[#f9b020] shadow-md;
  }
}

.message-edit {
  @apply absolute bottom-0 left-[14px] translate-y-full text-[8px] font-medium leading-[1.2] tracking-[-0.03em] md:-bottom-[1px] md:left-[18px] md:text-[10px] md:leading-[1.17];
}

.item {
  @apply flex flex-col gap-[4px];
}

.span {
  @apply text-[10px] leading-[1.4] text-[#2626267f];
}

.react-datepicker__header {
  @apply bg-[#f6b83d] text-white;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  @apply border border-[#26262626] bg-[#f9b020];
}

.react-datepicker__day--selected:not([aria-disabled="true"]):hover {
  @apply border-[#f9b020] bg-[#fbe7c1] text-[#262626] shadow-md;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__navigation-icon::before {
  @apply border-white text-white;
}

.react-datepicker__navigation:hover *::before {
  @apply border-[#262626];
}

.scrollbar {
  @apply overflow-x-auto overflow-y-auto;
}

::-webkit-scrollbar {
  @apply h-[61px] w-[6px] md:h-[80px] md:min-w-[8px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-[13px] bg-[#26262614];
}

::-webkit-scrollbar-track {
  @apply m-[12px] md:m-[14px];
}

.label {
  @apply relative flex size-[32px] cursor-pointer items-center justify-center rounded-full transition duration-500 md:size-10;

  &:hover,
  &:focus-visible {
    @apply bg-[#fbe7c1] shadow-sm;
  }
}

.real-radio {
  @apply absolute opacity-0;
}

.custom-radio {
  @apply relative md:size-[24px];
}

.custom-radio::before {
  @apply absolute left-1/2 top-1/2 z-[2] content-[''];
}

.female:has(.real-radio:checked) {
  @apply bg-[#f43f5e];
}

.real-radio:checked + .custom-radio.female {
  @apply stroke-white;
}

.male:has(.real-radio:checked) {
  @apply bg-[#54adff];
}

.real-radio:checked + .custom-radio.male {
  @apply stroke-white;
}

.multiple:has(.real-radio:checked) {
  @apply bg-[#f6b83d];
}

.real-radio:checked + .custom-radio.multiple {
  @apply fill-white;
}

.item-friends {
  @apply max-w-[196px] truncate text-[14px] font-medium not-italic leading-[1.29] tracking-[-0.02em] text-[#262626] md:max-w-[201px];
}

.a-hover {
  @apply transition duration-500;

  &:hover,
  &:focus-visible,
  &:active {
    @apply text-[#f6b83d];
  }
}

.button-attention {
  @apply block h-[42px] w-[135px] rounded-[30px] py-[12px] text-center text-[14px] font-bold leading-[1.29] tracking-[-0.03em] transition duration-500 md:h-[48px] md:w-[140px] md:py-[14px] md:text-[16px] md:leading-[1.25];
}

.button-notice {
  @apply h-[44px] w-[135px] rounded-[30px] py-[12px] text-center text-[16px] font-medium leading-[1.25] tracking-[-0.03em] transition duration-500 sm-max:text-[14px] md:h-[48px] md:w-[160px] md:py-[14px];
  &:hover,
  &:focus-visible {
    @apply bg-[#f9b020] text-white shadow-md;
  }
}

.item-notice {
  @apply flex flex-col items-center justify-center gap-[4px];
}

.page-link {
  @apply flex h-[35px] w-[35px] items-center justify-center rounded-[50%] border border-[#262626] border-opacity-[20%] bg-transparent text-[14px] font-bold leading-[1.29] text-[#262626] transition duration-300 sm-max:h-[30px] sm-max:w-[30px] md:h-[44px] md:w-[44px] md:text-[18px];
}

.page-item.disabled .page-link,
.page-link:disabled {
  @apply border-[#262626] border-opacity-[5%] bg-transparent fill-[#2626267f] text-[#2626267f];
}

.active-pg {
  @apply border-transparent bg-[#f6b83d] text-white;
}

.group:hover .page-link,
.group:focus-visible-visible .page-link {
  @apply border-transparent bg-[#f6b83d] text-white;
}

.scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: auto !important;
  --sb-track-color: #fff;
  --sb-thumb-color: rgba(38, 38, 38, 0.08);
  --sb-size: 8px;
  --sb-margin: 20px;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
  margin-top: var(--sb-margin);
  margin-bottom: var(--sb-margin);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.notices-label {
  @apply h-[42px] cursor-pointer rounded-[30px] bg-white p-[12px] text-center text-[14px] font-medium leading-[1.2] tracking-[-0.02em] text-[#262626] transition duration-300 md:h-[48px] md:p-[14px] md:text-[16px];

  &:hover,
  &:focus-visible {
    @apply bg-[#f6b83d] text-white shadow-sm;
  }
}

.notices-real-radio {
  @apply absolute right-0 top-0 -z-[1] opacity-0;
}

.notices-label:has(.notices-real-radio:checked) {
  @apply bg-[#f6b83d] text-white shadow-sm;
}

.select__control {
  @apply h-[42px] !w-full !rounded-[30px] !border-transparent bg-white !px-[12px] text-[14px] font-medium leading-[1.29] tracking-[-0.03em] !text-[#262626] !shadow-none md:h-[48px] md:!px-[14px] md:text-[16px] md:leading-[1.25];
}

.select__control--is-focused {
  border-color: #f6b83d !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
}

.select__placeholder {
  @apply !text-[#262626];
}

.select__value-container {
  @apply !w-[250px] !truncate !p-0 sm-max:!max-w-[180px] md:!max-w-[170px];
}

.select__dropdown-indicator:hover {
  @apply !text-[#262626];
}

.select__indicator {
  @apply !p-0;
}

.basic-single {
  @apply !relative !w-full md:!w-[227px];
}

.select__menu {
  @apply !-translate-y-[4px] !rounded-[15px] !border-none !shadow-md;
}

.select__menu-list {
  @apply !max-h-[94px] !p-3 md:!max-h-[104px] md:!p-[14px];
}

.select__option {
  @apply !cursor-pointer !bg-transparent !p-0 !pb-[8px] !text-[14px] !leading-[1.3] !tracking-[-0.03em] !text-[#26262666] !transition !duration-500 last:!pb-0 hover:!text-[#f6b83d] md:!text-[16px];
}
