@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
}

body {
  @apply bg-[#f9f9f9] font-manrope font-medium;
}

input {
  @apply outline-none;
}

.link-home {
  @apply border-[#26262626] text-[#262626] transition duration-500 lg:border-[#ffffff66] lg:text-white;

  &:hover,
  &:focus,
  &.active {
    @apply border-[#f6b83d] shadow-sm;
  }
}

.link-next {
  @apply border-[#ffffff26] text-white transition duration-500 lg:border-[#26262626] lg:text-[#262626];

  &:hover,
  &:focus,
  &.active {
    @apply border-[#ffffff80] shadow-sm lg:border-[#f6b83d];
  }
}
