@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
}

body {
  @apply bg-[#f9f9f9] font-manrope font-medium;
}

input {
  @apply outline-none;
}

.link-auth {
  @apply block h-[42px] w-[178px] rounded-[30px] py-[12px] text-center text-[14px] font-bold uppercase leading-[1.29] tracking-[-0.03em] transition duration-500 md:h-[50px] md:text-[16px] md:leading-[1.6];
}

.link-log {
  @apply outline outline-1 outline-[#ffffff7f];

  &:hover,
  &:focus,
  &.active {
    @apply bg-[#fff4df] text-[#f6b83d] shadow-md outline-none lg:bg-[#f9b020] lg:text-white;
  }
}

.link-reg {
  &:hover,
  &:focus,
  &.active {
    @apply bg-[#fbe7c1] text-[#f6b83d] shadow-sm outline-none;
  }
}

.link-home {
  @apply border-[#26262626] text-[#262626] transition duration-500 lg:border-[#ffffff66] lg:text-white;

  &:hover,
  &:focus,
  &.active {
    @apply border-white shadow-sm;
  }
}

.link-next {
  @apply border-[#ffffff26] text-white transition duration-500 lg:border-[#26262626] lg:text-[#262626];

  &:hover,
  &:focus,
  &.active {
    @apply border-[#ffffff80] shadow-sm lg:border-[#f6b83d];
  }
}

.bg-home {
  @apply relative after:absolute after:bottom-0 after:right-0 after:h-[402px] after:w-[335px] after:translate-y-full after:rounded-[30px] after:content-[''] after:sm-max:w-[280px] md:after:h-[496px] md:after:w-[704px] after:md:rounded-[60px] lg:after:h-[384px] lg:after:w-[1216px];
}

.bg-home::after {
  background-image: url("./assets/images/home/home_mobile_1x.webp");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 1.5dppx) {
  .bg-home::after {
    background-image: url("./assets/images/home/home_mobile_2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .bg-home::after {
    background-image: url("./assets/images/home/home_tablet_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-home::after {
      background-image: url("./assets/images/home/home_tablet_2x.webp");
    }
  }
}

@media screen and (min-width: 1280px) {
  .bg-home::after {
    background-image: url("./assets/images/home/home_desktop_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-home::after {
      background-image: url("./assets/images/home/home_desktop_2x.webp");
    }
  }
}

.bg-img {
  background-image: url("./assets/images/backdrop/loader_mobile_1x.webp");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 1.5dppx) {
  .bg-img {
    background-image: url("./assets/images/backdrop/loader_mobile_2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .bg-img {
    background-image: url("./assets/images/backdrop/loader_tablet_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-img {
      background-image: url("./assets/images/backdrop/loader_tablet_2x.webp");
    }
  }
}

@media screen and (min-width: 1280px) {
  .bg-img {
    background-image: url("./assets/images/backdrop/loader_desktop_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-img {
      background-image: url("./assets/images/backdrop/loader_desktop_2x.webp");
    }
  }
}

.text-message {
  @apply absolute -bottom-[2px] left-[12px] translate-y-full text-[10px] font-medium leading-[1.2] tracking-[-0.03em] md:-bottom-[4px] md:left-[16px] md:text-[12px] md:leading-[1.17];
}

.input-wrapper-reg:last-of-type {
  @apply mb-[24px] md:mb-[32px];
}

.input-wrapper-log:last-of-type {
  @apply mb-10 md:mb-[64px] lg:mb-[72px];
}

.button {
  @apply h-[42px] w-[137px] rounded-[30px] border-none py-[12px] text-center text-[14px] font-bold leading-[1.29] tracking-[-0.03em] transition duration-500 md:h-[48px] md:w-[140px] md:py-[14px] md:text-[16px] md:leading-[1.25];
}

.button-modal {
  @apply h-[42px] w-full rounded-[30px] bg-[#f6b83d] py-[12px] text-center text-[14px] font-bold leading-[1.29] tracking-[-0.03em] text-white transition duration-500 md:h-[52px] md:py-[16px] md:text-[16px] md:leading-[1.25];
}

.input {
  @apply h-[42px] w-full rounded-[30px] border p-3 text-[14px] font-medium leading-[1.29] tracking-[-0.03em] text-[#262626] placeholder:text-[#262626] md:h-[52px] md:p-4 md:text-[16px] md:leading-[1.25];
}

.input-hover {
  @apply transition duration-500;

  &:hover,
  &:focus {
    @apply border-[#f9b020] shadow-md;
  }
}

.message-edit {
  @apply absolute bottom-0 left-[14px] translate-y-full text-[8px] font-medium leading-[1.2] tracking-[-0.03em] md:-bottom-[1px] md:left-[18px] md:text-[10px] md:leading-[1.17];
}

.item {
  @apply flex flex-col gap-[4px];
}

.span {
  @apply text-[10px] leading-[1.4] text-[#2626267f];
}

.react-datepicker__header {
  @apply bg-[#f6b83d] text-white;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  @apply border border-[#26262626] bg-[#f9b020];
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__navigation-icon::before {
  @apply border-white text-white;
}

.react-datepicker__navigation:hover *::before {
  @apply border-[#262626];
}

.scrollbar {
  @apply overflow-x-auto overflow-y-auto;
}

::-webkit-scrollbar {
  @apply h-[61px] w-[6px] md:h-[80px] md:min-w-[8px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-[13px] bg-[#26262614];
}

::-webkit-scrollbar-track {
  @apply m-[12px] md:m-[14px];
}

.label {
  @apply relative flex size-[32px] cursor-pointer items-center justify-center rounded-full transition duration-500 md:size-10;

  &:hover,
  &:focus {
    @apply bg-[#fbe7c1] shadow-sm;
  }
}

.real-radio {
  @apply absolute opacity-0;
}

.custom-radio {
  @apply relative md:size-[24px];
}

.custom-radio::before {
  @apply absolute left-1/2 top-1/2 z-[2] content-[''];
}

.real-radio:checked + .custom-radio {
  @apply size-[32px] rounded-full transition duration-500 md:size-10;
}

.real-radio:checked + .custom-radio.female {
  @apply bg-[#f43f5e] stroke-white;
}

.real-radio:checked + .custom-radio.male {
  @apply bg-[#54adff] stroke-white;
}

.real-radio:checked + .custom-radio.multiple {
  @apply bg-[#f6b83d] fill-white;
}
